{% extends 'base.html.twig' %}

{% block title %}{{ accommodation.title }}{% endblock %}

{% block body %}
<h1>{{ accommodation.title }}</h1>

{% for image in accommodation.accommodationImages %}
    <img src="{{ asset(image.path) }}" alt="Photo de {{ accommodation.title }}">
{% endfor %}

<div class="container">
    {{ accommodation.description | raw }}
</div>

{{ accommodation.nightPrice|format_currency('EUR', locale='fr') }} par nuit

{% endblock %}